ocip_schema/Services/OCISchemaServiceBroadWorksMobility.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2000-2012 BroadSoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- B R O A D   W O R K S   M O B I L I T Y  S E R V I C E                 -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- B R O A D   W O R K S   M O B I L I T Y                                            -->
  <!-- R E Q U E S T S  A N D  R E S P O N S E S                                          -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    SystemBroadWorksMobilityAddIMRNListRequest    
    SystemBroadWorksMobilityDeleteIMRNListRequest    
    SystemBroadWorksMobilityGetIMRNListRequest    
    SystemBroadWorksMobilityServiceAccessCodeAddRequest    
    SystemBroadWorksMobilityServiceAccessCodeDeleteRequest    
    SystemBroadWorksMobilityServiceAccessCodeGetListRequest    
    SystemBroadWorksMobilityServiceAccessCodeModifyRequest    
    SystemBroadWorksMobilityGetRequest19sp1    
    SystemBroadWorksMobilityModifyRequest17sp4    
    ServiceProviderBroadWorksMobilityGetRequest19sp1    
    ServiceProviderBroadWorksMobilityModifyRequest    
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberAddListRequest    
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberDeleteListRequest    
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest    
    ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest    
    EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest22    
    EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest    
    GroupBroadWorksMobilityGetRequest19sp1    
    GroupBroadWorksMobilityModifyRequest    
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberAssignListRequest    
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest    
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest    
    GroupBroadWorksMobilityMobileSubscriberDirectoryNumberUnassignListRequest    
    UserBroadWorksMobilityGetRequest    
    UserBroadWorksMobilityModifyRequest20    
    
  --> 
  
  <xs:complexType name="SystemBroadWorksMobilityAddIMRNListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
     	  Adds BroadWorks Mobility IMRN numbers to the system. It is possible to add either: 
        a single number, a list of numbers, or a range of numbers, or any combination thereof.
        The response is either a SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="numberRange" type="DNRange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityDeleteIMRNListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Removes a BroadWorks Mobility IMRN number from the system. 
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityGetIMRNListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to get the list of BroadWorks Mobility IMRN numbers defined in the system.
        The response is either a SystemBroadWorksMobilityIMRNGetListResponse
        or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="searchCriteriaIMRN" type="SearchCriteriaIMRN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityGetIMRNListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
          Response to SystemBroadWorksMobilityDnGetListRequest.
        </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="imrnNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeAddRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add a system service access code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceAccessCode" type="ServiceAccessCode"/>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="description" type="ServiceAccessCodeDescription" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeDeleteRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete a system service access code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="serviceAccessCode" type="ServiceAccessCode"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeGetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of system service access codes.
        The response is either SystemBroadWorksMobilityServiceAccessCodeGetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeGetListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to SystemBroadWorksMobilityServiceAccessCodeGetListRequest.
        Contains a table with column headings: "Country Code", "Service Access Code", "Description"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="serviceAccessCodeTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityServiceAccessCodeModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify a system service access code.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="countryCode" type="CountryCode"/>
          <xs:element name="serviceAccessCode" type="ServiceAccessCode"/>
          <xs:element name="description" type="ServiceAccessCodeDescription" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityGetRequest19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the broadworks mobility system parameters.
        The response is either a SystemBroadWorksMobilityGetResponse19sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityGetResponse19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The response to a SystemBroadWorksMobilityGetRequest19sp1. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enableLocationServices" type="xs:boolean"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="imrnTimeoutMillisecnds" type="IMRNTimeoutMilliseconds"/>
          <xs:element name="scfSignalingNetAddress" type="NetAddress" minOccurs="0"/>
          <xs:element name="scfSignalingPort" type="Port" minOccurs="0"/>
          <xs:element name="refreshPeriodSeconds" type="SCFRefreshPeriodSeconds"/>
          <xs:element name="maxConsecutiveFailures" type="SCFMaxConsecutiveFailures"/>
          <xs:element name="maxResponseWaitTimeMilliseconds" type="SCFMaxResponseWaitTimeMilliseconds"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemBroadWorksMobilityModifyRequest17sp4">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the BroadWorks Mobility system parameters.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="enableLocationServices" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="imrnTimeoutMilliseconds" type="IMRNTimeoutMilliseconds" minOccurs="0"/>
          <xs:element name="scfSignalingNetAddress" type="NetAddress" minOccurs="0" nillable="true"/>
          <xs:element name="scfSignalingPort" type="Port" minOccurs="0" nillable="true"/>
          <xs:element name="refreshPeriodSeconds" type="SCFRefreshPeriodSeconds" minOccurs="0"/>
          <xs:element name="maxConsecutiveFailures" type="SCFMaxConsecutiveFailures" minOccurs="0"/>
          <xs:element name="maxResponseWaitTimeMilliseconds" type="SCFMaxResponseWaitTimeMilliseconds" minOccurs="0"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityGetRequest19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the service provider BroadWorks Mobility service settings.
        The response is either a ServiceProviderBroadWorksMobilityGetResponse19sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityGetResponse19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The response to a ServiceProviderBroadWorksMobilityGetRequest19sp1.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityServiceProviderSettingLevel"/>
          <xs:element name="enableLocationServices" type="xs:boolean"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the service provider level BroadWorks Mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityServiceProviderSettingLevel" minOccurs="0"/>
          <xs:element name="enableLocationServices" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberAddListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Adds Mobile Subscriber Directory Numbers to a service provider. It is possible to add a single DN,
        or a list of DNs.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberDeleteListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Deletes Mobile Subscriber Directory Numbers from a service provider. It is possible to delete either: a single number,
        or a list of numbers.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a list of available Mobile Subscriber Directory Numbers not yet assigned to any group. This command is applicable only for service providers and will fail for enterprises.
        The response is either ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest.
        Contains a list of available Mobile Subscriber Directory Numbers not yet assigned to any group.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableMobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a summary table of all Mobile Subscriber Directory Numbers in a service provider. This command is applicable only for service providers and will fail for enterprises.
        The response is either ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to ServiceProviderBroadWorksMobilityMobileSubscriberDirectoryNumberGetSummaryListRequest.
        The column headings are "Phone Number and "Group Id"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumbersSummaryTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest22">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
        The response is either EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse22 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse22">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest22.
        The response contains a table with columns: "Formatted DN", "Unformatted DN".

        The "Phone Number" column contains Mobile Subscriber DNs not yet assigned to any user.
        The "E164 Phone Number" column contains Mobile Subscriber DNs not yet assigned to any user in E.164 format.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="availableMobileSubscriberDirectoryNumberTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a summary table of all Mobile Subscriber Directory Numbers in an enterprise.
        The response is either EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserGroup" type="SearchCriteriaExactUserGroup" minOccurs="0"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExtension" type="SearchCriteriaExtension" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to EnterpriseBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest.
        The response contains a table with columns: "Mobile Number", “Group Id”, "User Id",
        "Last Name", "First Name","Phone Number","Extension", “Department” .
        The "Mobile Number" column contains a single DN.
        The "User Id", "Last Name" and "First Name" columns contains the corresponding attributes of the user possessing the DN(s).
        The "Phone Number" column contains a single DN.
        The “Group Id”   column contains the Group Id of the user.
        The "Department" column contains the department of the user if it is part of a department.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumbersAssignmentTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityGetRequest19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the group's BroadWorks Mobility settings.
        The response is either a GroupBroadWorksMobilityGetResponse19sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityGetResponse19sp1">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        The response to a GroupBroadWorksMobilityGetRequest19sp1.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityGroupSettingLevel"/>
          <xs:element name="enableLocationServices" type="xs:boolean"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the group level broadworks mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityGroupSettingLevel" minOccurs="0"/>
          <xs:element name="enableLocationServices" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMSRNLookup" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableMobileStateChecking" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableAnnouncementSuppression" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberAssignListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Assign Mobile Subscriber Directory Numbers to a group. It is possible to
        add a single DN,or a list of DNs.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the list of assigned and unassigned Mobile Subscriber Directory Numbers in a group. Each DN can be assigned to a user.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise. 
        The response is either a GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaMobileSubscriberDirectoryNumber" type="SearchCriteriaMobileSubscriberDirectoryNumber" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
          <xs:element name="searchCriteriaExtension" type="SearchCriteriaExtension" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAssignmentListRequest.
        The response contains a table with columns: "Mobile Number", "User Id",
        "Last Name", "First Name","Phone Number", “Extension”, “Department”,.
        The "Mobile Number" column contains a single DN.
        The "User Id", "Last Name" and "First Name" columns contains the corresponding attributes of the user possessing the DN(s).
        The "Phone Number" column contains a single DN.
        The "Department" column contains the department of the user if it is part of a department.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumberTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to GroupBroadWorksMobilityMobileSubscriberDirectoryNumberGetAvailableListRequest.
        Contains a list of available Mobile Subscriber Directory Numbers not yet assigned to any user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupBroadWorksMobilityMobileSubscriberDirectoryNumberUnassignListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Unassign Mobile Subscriber Directory Numbers from a group. It is possible to unassign either: a single DN, or a list of DNs.
.       This command is applicable only for group in a service provider and will fail for a group in an enterprise.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="mobileSubscriberDirectoryNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserBroadWorksMobilityGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the user's broadworks mobility service settings.
        The response is either a UserBroadWorksMobilityGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserBroadWorksMobilityGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
         Response to a UserBroadWorksMobilityGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="isActive" type="xs:boolean"/>
          <xs:element name="phonesToRing" type="BroadWorksMobilityPhoneToRing"/>
          <xs:element name="mobilePhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean"/>
          <xs:element name="broadworksCallControl" type="xs:boolean"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel"/>
          <xs:element name="denyCallOriginations" type="xs:boolean"/>
          <xs:element name="denyCallTerminations" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserBroadWorksMobilityModifyRequest20">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the user's broadworks mobility service settings.
        The response is either a SuccessResponse or an ErrorResponse.
        If the request modifies the mobilePhoneNumber and the new number does not belong to the appropriate Mobile Subscriber Directory Numbers pool, the request is rejected. For a service provider the number must belong to the group Mobile Subscriber Directory Numbers pool. For an enterprise user, the number must belong to the enterprise Mobile Subscriber Directory Numbers pool. 
        If the request is executed by a user and modifies the mobilePhoneNumber, the request is rejected. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="isActive" type="xs:boolean" minOccurs="0"/>
          <xs:element name="phonesToRing" type="BroadWorksMobilityPhoneToRing" minOccurs="0"/>
          <xs:element name="mobilePhoneNumber" type="DN" minOccurs="0" nillable="true"/>
          <xs:element name="alertClickToDialCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertGroupPagingCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableDiversionInhibitor" type="xs:boolean" minOccurs="0"/>
          <xs:element name="requireAnswerConfirmation" type="xs:boolean" minOccurs="0"/>
          <xs:element name="broadworksCallControl" type="xs:boolean" minOccurs="0"/>
          <xs:element name="useSettingLevel" type="BroadWorksMobilityUserSettingLevel" minOccurs="0"/>
          <xs:element name="denyCallOriginations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="denyCallTerminations" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:simpleType name="BroadWorksMobilityPhoneToRing">
    <xs:annotation>
      <xs:documentation>
        BroadWorks Mobility interrupt type.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Fixed"/>
      <xs:enumeration value="Mobile"/>
      <xs:enumeration value="Both"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="BroadWorksMobilityUserSettingLevel">
    <xs:annotation>
      <xs:documentation>
        BroadWorks Mobility setting for the user level.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Group"/>
      <xs:enumeration value="User"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="ServiceAccessCode">
    <xs:annotation>
      <xs:documentation>
        The Service Access Code composed of DTMF digits 0-9, # or *.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="ServiceAccessCodeDescription">
    <xs:annotation>
      <xs:documentation>
        Service Access Code description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>    
    
</xs:schema>
